.faq {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 60px;
  @include desktop {
    margin-bottom: 100px;
    gap: 50px;
  }

  h2 {
    font-family: $second-family;
    font-weight: 400;
    font-size: 29px;
    line-height: 124%;
    text-align: center;
    color: $green;
    margin-bottom: 24px;
    @include desktop {
      font-size: 65px;
    }
    @include desktop3 {
      font-size: 148px;
      line-height: 90%;
      margin-bottom: 50px;
    }
  }
  .accordions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .text {
      font-weight: 400;
      font-size: 16px;
      color: $green;
    }
    @include desktop {
      gap: 20px;
    }

  }
}