footer {
  border-radius: 30px 30px 0 0;
  background: $green;
  @include desktop {
    border-radius: 100px 100px 0 0;
  }

  .container {
    padding: 54px 33px 0;
    overflow: hidden;
    @include desktop {

    }
    @include desktop2 {
      padding: 67px 33px 0;
    }
  }

  .last-row {
    display: flex;
    flex-direction: column;
    gap: 23px;
    .last-row-text {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      gap: 16px;
      p {
        font-weight: 400;
        font-size: 16px;
        color: #eef5ff;
      }
    }
    .imageWrapper {
      position: relative;
      aspect-ratio: 1716 / 374;
      width: 100%;
      user-select: none;
      pointer-events: none;

      img {
        object-fit: cover;
      }
    }
  }


  .footer-text {
    margin-bottom: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0em;
    color: #eef5ff;
    @include desktop {
      font-size: 13px;
      line-height: 135%;
      text-align: center;
    }
  }

  .row {
    display: flex;
    flex-direction: column;


    @include desktop {
      flex-direction: row;
      gap: 40px;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 80px;
    }
    @include desktop3 {
      gap: unset;
      justify-content: start;
    }

    .footer-links {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 4px;
      margin-bottom: 42px;
      @include desktop {
        margin-bottom: 0;
      }

      a {
        font-weight: 600;
        font-size: 16px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-align: start;
        color: #eef5ff;
        @include desktop {
          &:hover {
            color: #F28619;
          }
        }
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 53px;
      margin-bottom: 53px;
      @include desktop {
        margin-bottom: 0;
        gap: 32px;
      }
      @include desktop3 {
        margin-right: 192px;
      }

      .info-text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @include desktop {
          gap: 4px;
        }

        p:first-child {
          font-weight: 600;
          font-size: 14px;
          text-transform: uppercase;
          color: #eef5ff;
          @include desktop {
            font-size: 16px;
            line-height: 137%;
            letter-spacing: -0.01em;
          }
        }

        p:nth-child(2) {
          font-weight: 400;
          font-size: 14px;
          color: #eef5ff;
          @include desktop {
            font-size: 16px;
            line-height: 137%;
            letter-spacing: -0.01em;
          }
        }

        p:nth-child(3) {
          font-weight: 700;
          font-size: 14px;
          color: #eef5ff;
          @include desktop {
            font-size: 16px;
            line-height: 137%;
            letter-spacing: -0.01em;
          }
        }
      }

      .socials {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
        @include desktop {
          gap: 30px;
        }

        .inst {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          gap: 16px 80px;
          @include desktop {
            gap: 30px;
          }
          svg:nth-child(2) {
            position: absolute;
            right: -3px;
            top: 4px;
          }

          a {
            position: relative;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            color: #eef5ff;
            transition: opacity .2s ease;
            max-width: 228px;
            @include desktop {
              opacity: 0;
              max-width: 266px;
            }
          }

          @include desktop {
            &:hover {
              p {
                opacity: 1;
              }
            }
          }

        }

        a {
          border-radius: 21px;
          width: 41px;
          height: 41px;
          background: #eef5ff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin-bottom: 56px;

    @include desktop {
      gap: 4px;
      margin-bottom: 0;
    }
    @include desktop3 {
      margin-right: 150px;
    }

    button, a {
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;
      text-align: start;
      white-space: nowrap;
      color: #eef5ff;
      width: fit-content;

      @include desktop {
        font-size: 16px;
        &:hover {
          color: $orange;
        }
      }
    }
  }
}

