.other-tours {

  .container {
    border-radius: 30px;
    padding: 24px;
    background: $green;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
      background: none;
      padding: 0;
      border-radius: unset;
    }
  }

  h2 {
    font-family: $second-family;
    font-weight: 400;
    font-size: 29px;
    line-height: 124%;
    text-align: center;
    color: $white;
    margin-bottom: 24px;
    @include desktop {
      color: $green;
      font-size: 65px;
    }
    @include desktop3 {
      font-size: 148px;
      line-height: 90%;
      margin-bottom: 50px;
    }
  }

  p.subtitle {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    margin-bottom: 24px;

    span {
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
      color: $white;
    }

    @include desktop {
      margin-bottom: 50px;
      max-width: 992px;
      font-weight: 400;
      font-size: 16px;
      text-transform: unset;
      color: $green;

      span {
        color: $green;
        font-size: 16px;
        text-transform: unset;
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }

    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include desktop {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      background: $green;
      border-radius: 50px;
      padding: 60px 50px;
      gap: 30px;
      align-items: flex-start;
    }

    .imageWrapper {
      position: relative;
      aspect-ratio: 327 / 200;
      width: 100%;
      margin-bottom: 24px;
      user-select: none;
      pointer-events: none;
      overflow: hidden;
      @include desktop {
        margin-top: 60px;
        margin-bottom: 0;
        max-width: 489px;
        border-radius: 50px;
      }

      img {
        object-fit: contain;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @include desktop {
        gap: 50px;
        width: 100%;
        min-width: 500px;
        max-width: 1050px;
      }

      .group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @include desktop {
          gap: 20px;
        }

        h3 {
          font-family: $second-family;
          font-weight: 400;
          font-size: 14px;
          color: $white;
          @include desktop {
            font-size: 24px;
          }
        }

        .accordions {
          display: flex;
          flex-direction: column;
          gap: 10px;
          @include desktop {
            gap: 20px;
          }

          .accordion-content {
            display: flex;
            flex-direction: column;

            .text {
              font-weight: 400;
              font-size: 16px;
              color: $green;
              margin-bottom: 20px;
            }

            .options {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              gap: 10px;
              margin-bottom: 20px;
              @include desktop {
                gap: 20px;
              }

              .option {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                border: 1px solid $green;
                flex: 1 1 205px;

                border-radius: 14px;
                padding: 0 10px 10px;
                @include desktop {
                  flex: 1 1 calc(50% - 10px);
                }
                @include desktop2 {

                }
                @include desktop3 {
                  border-radius: 50px;
                  padding: 0 10px 20px;
                }

                .option-text {
                  font-family: $second-family;
                  font-weight: 400;
                  text-align: center;
                  color: $green;
                  font-size: 14px;
                  white-space: nowrap;
                  @include desktop2 {
                    font-size: 18px;
                  }
                  @include desktop3 {
                    font-size: 24px;
                  }

                  span {
                    font-size: 29px;
                    @include desktop2 {
                      font-size: 35px;
                    }
                    @include desktop3 {
                      font-size: 65px;
                    }
                  }
                }

                .option-type {
                  text-decoration: underline;
                  text-decoration-skip-ink: none;
                  font-family: $second-family;
                  font-weight: 400;
                  font-size: 14px;
                  text-align: center;
                  color: $green;
                  @include desktop2 {
                    font-size: 18px;
                  }
                  @include desktop3 {
                    font-size: 24px;
                  }
                }
              }
            }

            .button {
              font-weight: 600;
              font-size: 16px;
              text-transform: uppercase;
              text-align: center;
              color: $white;

              margin-bottom: 20px;
              background: $orange;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid $orange;
              @include desktop {
                padding: 28px 30px;
                &:hover {
                  background: $white;
                  color: $orange;
                  border-color: $orange;
                }
              }
            }

            .notif {
              font-weight: 400;
              font-size: 12px;
              text-align: center;
              color: $green;
            }
          }
        }


      }

      .warn {
        font-weight: 400;
        color: $white;
        font-family: $font-family;
        font-size: 14px;
        @include desktop {
          font-size: 16px;
        }

        ul {
          li {
            padding-left: 1em;
            list-style: none;
            position: relative;

            &::before {
              content: "";
              background-color: #eef5ff;
              border-radius: 50%;
              width: .2em;
              height: .2em;
              position: absolute;
              top: .6em;
              left: 0;
            }
          }
        }

        span {
          font-family: $second-family;
          font-size: 29px;
          font-weight: 400;
          margin-bottom: 24px;
          display: block;
          margin-top: 14px;
          @include desktop {
            font-size: 45px;
            margin-bottom: 0;
            margin-top: 0;
          }
          @include desktop2 {
            font-size: 65px;
          }
        }
      }
    }


  }
}